html, body {
    height: 100%;
    font-family: 'trebuchet ms', 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

#fullBody {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
}

.mt-5 {
    margin-top: 5px;
}

.newsTitle {
    color: #007BE6;
}

.sidebaricon {
    padding-right: 1px;
}

#inner {
    max-width: 950px;
}

#theLights {
    background-color: black;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.sidebarimg {
    height: 12px;
}

#tabletBottom {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0px auto;
}

#tunnel {
    position: absolute;
    left: 50px;
    top: 150px;
    max-width: 80%
}

#tabletTop {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 10px;
    background-color: white;
}

#secretButton {
    position: absolute;
    left: 19px;
    top: 20px;
    z-index: 999;
}

.no-padding {
    padding: 0px !important;
}

.no-margin {
    margin: 0px !important;
}

.media-heading {
    font-size: 16px;
}

.profilePicture {
    max-width: 216px;
    margin-bottom: 0px !important;
    margin-top: 20px;
}

.conference {
    font-size: 14px;
    margin-bottom: 25px !important;
}

.graphThumb {
    width: 150px;
    height: 150px;
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.graphThumbImg {
    width: 100%;
    height: 100% !important;
}

.paperWell {
    min-height: 170px;
}

.paperBody {
    /*min-width: 200px;*/
}

.paperIcon {
    margin-right: 20px;
    border: 0px;
    padding: 0px;
}

.hexagonCropped {
    width: 300px;
    /* Adjust as necessary */
    height: 346px;
    /* This should be roughly 1.15x the width for a regular hexagon */
    clip-path: polygon( 50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25% );
}

.hexagonContainer {
    width: 100px;
    /* Adjust as necessary */
    height: 100px;
    /* Roughly 1.15x the width for a regular hexagon */
    position: relative;
    overflow: hidden;
    margin-right: 20px;
}

.hexagonImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.well {
    background-color: white;
}

.course {
    background-color: white;
    min-width: 200px;
    min-height: 220px;
}

.subtleHeading {
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.mb-2 {
    margin-bottom: 10px !important;
}

.mb-3 {
    margin-bottom: 15px !important;
}

.mb-4 {
    margin-bottom: 20px !important;
    border-bottom: 1px #efefef solid;
}

.mb-5 {
    margin-bottom: 25px !important;
}

.mb-6 {
    margin-bottom: 30px !important;
}
